// for src\components\address\AddressFields.vue

h5 {
  margin-bottom: 20px;
}
.title {
  margin: 10px 8px 0 0;
  display: inline-block;
  min-width: 200px;
  text-align: left;
  padding: 0;
}
.field {
  display: inline-block;
  min-width: 250px;
  width: 50%;
  @media screen and (max-width: 1085px) {
    display: block;
    width: 100%;
    margin-bottom: 0;
    padding: 5px 0 7px 0;
  }
}
// .address1 {
//   margin-bottom: 5px;
// }
// .address2 {
//   margin-left: 153px;
//   margin-bottom: 30px;
//   @media screen and (#{$bp-660}) {
//     margin: 0;
//   }
// }
@media screen and (min-width: 600px) {
  .addressInfor {
    .address-fields {
      width: 50%;
    }
  }
}