.cart {
    padding: 4% 5%;
    .cart-summary {
        li {
            padding: 2% 0 4%;
        }
    }
    @media screen and (#{$bp-1440}) {
        padding:4% 2%;
    }
}

.shopping-cart {
    clear: both;
    overflow: hidden;
}

.shopping-cart .head {
    font-family:$didot;
    overflow: hidden;
    padding: 2% 2% 2% 1.3%;

}

.head li.Update {
    display: none;
}

.shopping-cart {
    border: 1px solid $beige;

    ul {
        padding: 1%;
        list-style: none;
        clear: both;
        overflow: hidden;
        margin: 0;
        position: relative;
        border-bottom: 1px solid $beige;
        &:last-of-type {
            border-bottom: 0;
        }
    }

    &.first {
        border-bottom: 0;


        ul {
            margin: 0;
            
            text-transform: uppercase;
            border-bottom: 0;
        }

    }

    .ItemDescr span+span {
        font-weight: normal;
        color: rgba($dark-grey, .6);
    }

    li {
        margin: 0 12px 0 0;
        float: left;

        &.ItemDescr {
            width: 28%;
            text-align: left;
            position: relative;

            span {
                display: block;
            }
        }

        &.ItemImage {
            width: 10%;

            img {
                width: 100%;
                height: auto;
                display: block;
            }
        }

        &.Price, &.Total {
            width: 13%;
            text-align: right;
        }

        &.Qty {
            width: 14%;
            text-align: center;

            input {
                width: 45px;
                height:42px;
                margin: 0 5px;
                text-align: center;
                padding: 8px;
            }
        }
    }

    @media screen and (#{$bp-768}) {
        @include cart-mobile;
        .shopping-cart ul li.ItemDescr{
            width:60%;
        }

        [class^=btn-] {
            display: block;
        }

        ul li {
            &.Update {
                position: absolute;
                text-align: left;
                width: 25%;
                right: 0;
                top: 9%;
            }
            &.Qty {
                width:100%;
            }
        }
        &.first {
            border-top: 0;
        }
    }
}



li.Update {
    float: right;
    padding: 0.4% 0 0;

    p {
        margin: 0 0 8px;

        a {
            text-decoration: none;
        }
    }
}


li.Update p {

    span {
        display: inline-block;
    }

    a {
        padding: 0 0 0 25px;
        position: relative;
    }

}
li.Qty p,
li.Update p{
    text-transform: uppercase;
    line-height: 22px;
    position: relative;
    &:first-child{
        display:block;
    }
    &:before {
        @include mo-icons;
        font-size: 18px;
        position: absolute;
        left: 0;
        top:-3px;
    }
    &:last-child{
        display:inline-block;
        
    }
    &.delete,
    &.refresh{
         font-size: 19px;

    }
    &.refresh{
        padding:0 0 0 26px;
    }
    &.delete:before {
        content: "\e90c";
    }

    &.refresh:before {
        content: "\e91c";
    }
    @media screen and (#{$bp-768}) {
        &:first-child{
            display:inline-block;
        }        
    }
}

.shopping-cart-order-summary {
    padding: 15px;
    margin-top: 15px;
    overflow: hidden;

}

.shopping-cart-total {

    padding: 10px 0 20px;
    overflow: hidden;
    float: right;
    width: 420px;
    @media screen and (#{$bp-768}) {
        width: 100%;
    }
    .cart-summary {
        
    }
    ul {
        overflow: hidden;
        list-style: none;
        padding: 0;
    }

    li {
        display: block;
        float: none;
        font-weight: normal;

        &.total {
            
        }

        label {
            padding: 0 20px 0 0;
            display: block;
            float: left;
            width: 250px;
            text-align: right;
        }
    }

    .button {
        text-align: center;
        margin: 8px auto;
        width: 80%;
        a.btn-main {
            display: block;
        }
    }
}

.shopping-cart ul.empty-cart li a.btn-main {
    width: auto;
}
.shopping-cart ul.empty-cart li a.btn-plain {
    margin-top: 1em;
}